
<div class="row">
  <div class="col-md-4">

<form action="" method="POST" role="fromGroup" [formGroup]="productFormCreate" (ngSubmit)="onCreate()" >

  <legend> Form Add Product </legend>

  <div class="form-group">
    <label >label</label>
    <input type="text" class="form-control" formControlName="name" placeholder="Input field">
  </div>

  <div class="form-group">
    <label >label</label>
    <input type="text" class="form-control" formControlName="price"  placeholder="Input field">
  </div>

  <div class="form-group">
    <label >label</label>
    <input type="text" class="form-control" formControlName="sale_price" placeholder="Input field">
  </div>

  <div class="form-group">
    <label >label</label>
    <input type="text" class="form-control" formControlName="image"  placeholder="Input field">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

  </div>
</div>
