.product__item__pic{
  font-size: 50%;
}
.form-control-none{
  display: none;
}
.product-details .container .row .col-lg-3 .product__item .product__item__text .rating{
  margin-left: 35%;
}
.product__details__button .quantity  {
  .quantitySold{
    margin-left: 8%;
  }
  .form-group {
    .form-control {
      width: 50%;
      text-align: center;
      margin-left: 4%;
    }
    .btn_AddToCart {
      margin-bottom: 5%;
    }
  }
}

