<div class="row py-5" >
   <div class="col-md-5">
     <img src="{{pro.image}}">
   </div>
   <div class="col-md-7">
<!--     HIỂN THỊ TẤT CẢ CÁC THUỘC TÍNH CỦA PRODUCT  -->
     <h2>{{pro | json}}</h2>
<!--     HIỂN THỊ NGÀY VD : 3/4/2022-->
     <h2>{{today | date:"dd/MM/yyyy"}}</h2>

<!--     HIỂN THỊ NAME VIẾT CHỨ HOA-->
     <h2>{{pro.name | uppercase}} </h2>
     <h4>Price: {{pro.price | currency:"":""}}đ - Sale price : <s>{{pro.sale_price | currency:"":""}}đ</s></h4>
     <p>
      {{pro.description}}
     </p>
     <form action="" method="POST" role="form" [formGroup]="cartForm" >

       <div class="form-group">
         <label class="sr-only">Name</label>
         <input type="number" class="form-control" formControlName="name" placeholder="So Luong">
       </div>

       <button type="submit" class="btn btn-primary">Add To Cart</button>
     </form>
   </div>
</div>
