<div class="row py-5" >
   <div class="col-md-5">
     <img src="{{pro.image}}">
   </div>
   <div class="col-md-7">
     <h2>{{pro.name}}</h2>
     <h4>Price: {{pro.price}}đ - Sale price : <s>{{pro.sale_price}}đ</s></h4>
     <p>
      {{pro.description}}
     </p>
     <form action="" method="POST" role="form" [formGroup]="cartForm" >

       <div class="form-group">
         <label class="sr-only">Name</label>
         <input type="number" class="form-control" formControlName="name" placeholder="So Luong">
       </div>

       <button type="submit" class="btn btn-primary">Add To Cart</button>
     </form>
   </div>
</div>
