<h2>Danh sách sản phẩm</h2>
<form action="" method="POST" class="form-inline" [formGroup]="searchForm" (ngSubmit)="onSearch()" >

  <div class="form-group mr-5">
    <label class="sr-only" >Name</label>
    <input type="email" class="form-control" formControlName="name" placeholder="Input field">
  </div>

  <div class="form-group mr-5">
    <label class="sr-only" >Price</label>
    <input type="email" class="form-control" formControlName="price" placeholder="Input field">
  </div>

  <div class="form-group mr-5">
    <label class="sr-only" >Sale Price</label>
    <input type="email" class="form-control" formControlName="sale_price" placeholder="Input field">
  </div>

  <button type="submit" class="btn btn-primary mr-2">Search</button>
  <a routerLink="../product-create" type="submit" class="btn btn-primary">Add</a>
</form>

  <br>
<table class="table table-hover mr-auto">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Sale_price</th>
      <th>Image</th>
      <th>

      </th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let pro of productList">
    <td>{{pro.id}}</td>
    <td>{{pro.name}}</td>
    <td>{{pro.price}}</td>
    <td>{{pro.sale_price}}</td>
    <td>
      <img src="{{pro.image}}" alt="">
    </td>
    <td>
      <a [routerLink]="['../product-edit', pro.id]" class="btn btn-sm btn-primary mr-1">Edit</a>
      <a href="../product-list" (click)="onDelete(pro.id)" class="btn btn-sm btn-danger">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
